DEBUG=False
SECRET_KEY=cambiar-por-clave-segura-en-produccion
ALLOWED_HOSTS=tu-dominio.com,www.tu-dominio.com

DB_NAME=sigvme
DB_USER=postgres
DB_PASSWORD=cambiar-password
DB_HOST=db
DB_PORT=5432

CORS_ALLOWED_ORIGINS=https://tu-dominio.com
